.cv{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:  min-content min-content min-content min-content;
  column-gap: 2rem;
  row-gap: 3rem;
  grid-template-areas: 
  "header header"
  "contact profile"
  "skills work-experience"
  "languages education"
  ". ."
  ;
}

.header{
  grid-area: header;
}

.contact{
  grid-area: contact;
  
}

.profile{
  grid-area: profile;
}

.skils{
  grid-area: skills;
  
}

.work-experience{
  grid-area: work-experience;
}

.education {
  grid-area: education;
}
 
.languages{
  grid-area: languages;
}
