.contact{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  height: 100%;
}

.contact-item{
  display: grid;
  grid-template-columns: 2rem 1fr 1rem;
  align-items: center;
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item img{
  height: 1.5rem;
}

.contact .add-section-button{
  position: absolute;
  top: -1.5rem;
  
  
}