.contact{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-right: 2rem;
}

.contact-item{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item img{
  height: 1.5rem;
}