.header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 2rem;
}

.name-job-age h1 {
  letter-spacing: .8rem;
  margin-bottom: .8rem;
}

.name-job-age h2{
  letter-spacing: .8rem;
  margin-bottom: .8rem;
}

h3{
  letter-spacing: .4rem;
}

.picture-conatiner{
  grid-column: 2/3;
  align-self: center;
}