.header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.name-job-age {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.name-job-age h1,
.name-job-age h2 {
  letter-spacing: .8rem;
}

h3{
  letter-spacing: .4rem;
}

.picture-conatiner{
  grid-column: 2/3;
  align-self: center;
}