/* ↓↓↓ .icon-container holds icons displayed on the cv ↓↓↓ */
.icon-container img {
  height: 1.8rem;
  padding-right: 1rem;
  position: relative;
}

.icon-container:hover{
  cursor: pointer;
}

/* ↓↓↓ .icon-tile & all css below is for IconSelectionWindow ↓↓↓ */
.icon-tile{
  width: 2rem;
  height: 2rem;
}

.icon-selection-window {
  color: white;
  display: grid;
  width: 18rem;
  height: 6rem;
  left: -2rem;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-template-rows: 4rem 2rem;
  background-color: #42606e;
  grid-template-areas:
    "previous icons next"
    "previous icons next"
    ". upload .";
    z-index: 2;
}

.select-next-icons {
  grid-area: next;
}

.select-previous-icons {
  grid-area: previous;
}

.select-next-icons,
.select-previous-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.selectable-icons-view {
  overflow: hidden;
  position: relative;
}

.selectable-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
  grid-auto-flow: column;
  gap: 0.1rem;
  padding: 0.1rem;
  grid-area: icons;
  align-items: start;
  position: absolute;
}

.icon-column {
  display: flex;
  flex-direction: column;
}

.upload-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-button-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.upload-button-container:active {
  transform: scale(0.95);
}


.upload-new-icon {
  color: #42606e;
  font-size: .9rem;
  font-weight: 700;
  background-color: white;
  margin: .2rem;
  padding: .2rem;
  grid-area: upload;
  align-self: center;
  justify-self: center;
}



.upload-new-icon-label {
  position: relative;
  display: inline-block;
}

.upload-new-icon-label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
