.icon-container img {
  height: 1.8rem;
  padding-right: 1rem;
  position: relative;
}

/* .icon-tile is only used in the icon selection window */
.icon-tile{
  width: 2rem;
  height: 2rem;
}

.icon-tile img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-selection-window {
  color: white;
  display: grid;
  width: 18rem;
  height: 6rem;
  left: -2rem;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-template-rows: 4rem 2rem;
  background-color: #42606e;
  grid-template-areas:
    "previous icons next"
    "previous icons next"
    ". upload .";
}

.icon-selection-window button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.upload-new-icon {
  width: 100%;
  height: 2rem;
  overflow: hidden;
  grid-area: upload;
  padding-bottom: 0.3rem;
}
.upload-new-icon img {
  padding: 0;
  height: 1.9rem;
}

.select-previous-icons {
  grid-area: previous;
}

.selectable-icons-view {
  overflow: hidden;
  position: relative;
}

.selectable-icons {
  width: auto;
  display: grid;
  gap: .1rem;
  padding: .1rem;
  grid-auto-columns: 2rem;
  grid-template-rows: 2rem 2rem;
  grid-template-columns: repeat(8, 2rem); 
  grid-area: icons;
  align-items: start;
  position: absolute;
}

.select-next-icons {
  grid-area: next;
}

.upload-new-icon-label {
  position: relative;
  display: inline-block;
}

.upload-new-icon-label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
