.languages{
    display: grid;
    gap: .5rem;
    align-items: start;
}

.language-item{
    display: grid;
    grid-template-columns: 1fr 1.5rem;
    align-items: center;
}

.language-section-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}