.work-experience-section,
.education-section,
.skill,
.title.title-holder {
  position: relative;
}


.add-section-button,
.remove-section-button {
  visibility: hidden; /* hide buttons by default */
  height: 1.5rem;
  width: 1.5rem;
}

.work-experience-section:hover .remove-section-button,
.work-experience:hover .add-section-button,
.education-section:hover .remove-section-button,
.education:hover .add-section-button,
.skills:hover .add-section-button,
.skill:hover .remove-section-button,
.contact:hover .add-section-button,
.contact-item:hover .remove-section-button,
.languages:hover .add-section-button,
.language-item:hover .remove-section-button {
  visibility: visible; /* show buttons when the section is hovered */
}

.title-holder {
  display: flex;
  align-items: center;
}

button {
  border: none;
}

.add-section-button {
  background-color: #4caf50;
  color: white;
}

.remove-section-button {
  background-color: #f44336;
  color: white;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95);
}

.button-container {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header{
  display: flex;
  justify-content: space-between;
}