.work-experience-section,
.education-section,
.skill,
.title.title-holder{
    position: relative; 
  }
  
  .remove-section-button{
    top: 5px;
    right: 0px;
    position: absolute;
  }


  .add-section-button,
  .remove-section-button{
    visibility: hidden; /* hide buttons by default */
    height: 1rem;
  }
  
  .work-experience-section:hover .remove-section-button,
  .work-experience:hover .add-section-button,
  .education-section:hover .remove-section-button,
  .education:hover .add-section-button,
  .skills:hover .add-section-button,
  .skill:hover .remove-section-button
   {
    visibility: visible; /* show buttons when the section is hovered */
  }

  .title-holder{
    display: flex;
    justify-content: space-between;
  }

button {
  border: none;
}
  
  .add-section-button {
    background-color: #4CAF50;
    color: white;
}

.remove-section-button {
    background-color: #f44336;
    color: white;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

.work-experience-section:hover .remove-section-button ~ .work-experience-section {
  border: 5px dotted #f44336;
}