.skills{
    display: grid;
    gap: 1rem;
    padding-right: 1rem;
}

.skill{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon-container img{
    height: 1.5rem;
}

.icon-tile img{
    display: flex;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.icon-selection-window{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    background-color: #213547;
    padding: .5rem;
}