.skills{
    display: grid;
    gap: 1rem;
    padding-right: 2rem;
}

.skill{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon-container img{
    height: 1.5rem;
}

.icon-tile img{
    height: 1.5rem;
}

