.work-experience-section,
.title.title-holder {
    position: relative; /* set position relative so that the button can be positioned absolutely inside it */
  }
  
  .remove-section-button {
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden; /* hide the button by default */

  }
  
  .work-experience-section:hover .remove-section-button {
    visibility: visible; /* show the button when the section is hovered */
  }

  .work-experience:hover .add-section-button {
    visibility: visible; /* show the button when the section is hovered */
  }
  
  .add-section-button{
    visibility: hidden;
  }

  .title-holder{
    display: flex;
    justify-content: space-between;
  }